@import "./base/reset";

@import "./themes/theme";

@import "./abstracts/mq";
@import "./abstracts/clearfix";
@import "./abstracts/a11y";

@import "./layout/navigation";
@import "./layout/main";

@import "./components/icon-button";
@import "./components/toggle-button";
@import "./components/gallery";

html,
body {
  min-width: 320px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: $font-color;
}
