<div style="display: none;">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <symbol viewBox="0 0 32 32" id="icon-next"><path d="M29 16L3 0v7.2L17.6 16 3 24.8V32z"/></symbol>
      <symbol viewBox="0 0 32 32" id="icon-previous"><path d="M3 16l26 16v-7.2L14.4 16 29 7.2V0z"/></symbol>
      <symbol viewBox="0 0 32 32" id="icon-no"><path d="M32 3.5L28.5 0 16 12.5 3.5 0 0 3.5 12.5 16 0 28.5 3.5 32 16 19.5 28.5 32l3.5-3.5L19.5 16z"/></symbol>
    </defs>
  </svg>
</div>
